<!DOCTYPE HTML>
<html>

<head>
	<title>Login</title>
	<!-- Meta-Tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="">
	<!-- Model login Form a Responsive Web Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible Web Template, Smartphone Compatible Web Template, Free Webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design -->
	
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta-Tags -->
	<!-- Stylesheets -->
	<link href="{{ url_for('static', filename='css/font-awesome.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/style_login.css') }}" rel='stylesheet' type='text/css' />

	<!-- bootstrap core css -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}" />

	<!--// Stylesheets -->
	<!--fonts-->
	<!-- title -->
	<link href="//fonts.googleapis.com/css?family=Niconne" rel="stylesheet">
	<!-- body -->
	<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
	<!--//fonts-->
</head>

<body>
	<div class="hero_area">
		<!-- header section strats -->
		<header class="header_section">
		<div class="container-fluid">
			<nav class="navbar navbar-expand-lg custom_nav-container pt-3">
			<a class="navbar-brand" href="{{ url_for('index') }}">
				<span>
				Model
				</span>
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
				<ul class="navbar-nav  ">
					<li class="nav-item active">
					<a class="nav-link" href="{{ url_for('index') }}"> Home </a>  
					<!-- <span class="sr-only">(current)</span> -->
					</li>
					
					<!-- <li class="nav-item">
					<a class="nav-link" href="{{ url_for('about') }}"> About </a>
					</li>
					<li class="nav-item">
					<a class="nav-link" href="{{ url_for('do') }}"> What we do </a>
					</li>
					<li class="nav-item">
					<a class="nav-link" href="{{ url_for('portfolio') }}"> Portfolio </a>
					</li>
					<li class="nav-item">
					<a class="nav-link" href="{{ url_for('contact') }}">Contact us</a>
					</li> -->
				</ul>
				</div>
			</div>
			</nav>
		</div>
		</header>
	</div>

	<h1>login Form </h1>
	<div class="login box box--big">
		<!-- form starts here -->
		<form action="#" method="post">
			<div class="agile-field-txt">
				<label>
					<i class="fa fa-user" aria-hidden="true"></i> Username :</label>
				<input type="text" name="name" placeholder=" " required="" />
			</div>
			<div class="agile-field-txt">
				<label>
					<i class="fa fa-envelope" aria-hidden="true"></i> password :</label>
				<input type="password" name="password" placeholder=" " required="" id="myInput" />
				<div class="agile_label">
					<input id="check3" name="check3" type="checkbox" value="show password" onclick="myFunction()">
					<label class="check" for="check3">Show password</label>
				</div>
			</div>
			<!-- script for show password -->
			<script>
				function myFunction() {
					var x = document.getElementById("myInput");
					if (x.type === "password") {
						x.type = "text";
					} else {
						x.type = "password";
					}
				}
			</script>
			<!-- //script ends here -->
			<div class="bot">
				<div class="switch-agileits">
					<label class="switch">
						<input type="checkbox">
						<span class="slider round"></span>
						keep me signed in
					</label>
				</div>
				<div class="form-end">
					<input type="submit" value="LOGIN">
				</div>
				<div class="clearfix"></div>
			</div>
		</form>

		{% if messages == "none input" %}
			<script>alert("未输入")</script>
		{% elif messages == "Login success" %}
			<script>alert("登录成功")</script>
			<script type='text/javascript'>window.location.href="{{ url_for('index') }}"</script>
		{% elif messages == "Invalid username or password" %}
			<script>alert("用户名或密码错误")</script>
			<!-- <script type='text/javascript'>window.location.href="{{ url_for('index') }}"</script> -->
		{% endif %}   

	</div>
	<!-- //form ends here -->

	<!-- copyright-->
	<!-- <div class="copy-wthree">
		<p>© 2018 Model login Form . All Rights Reserved | Design by
			<a href="http://w3layouts.com/" target="_blank">W3layouts</a>
		</p>
	</div> -->
	<!--//copyright -->
</body>

</html>